.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

h1 > a {
  text-decoration: none;
  color: white;
}

h1 > a:hover {
  color: rgba(245, 245, 245, 0.5);
}
